li.countryHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.countryHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.expandImageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.expandImageContainer img {
    width: 32px;
    height: 32px;
}

.countryHeader button {
    margin-left: auto;
}