.countryBody {
    color: #69707E;
    font-size: 16px;
    font-weight: 400;
    line-height: .82;
}

.countryBody p {
    margin: 10px 0;
    line-height: 1.2;
}

.countryBodyHighlight {
    color: #BDBCBF;
    font-weight: 500;
}

.flagImageContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.flagImageContainer img {
    width: 100%;
}