@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background-color: #030505;
    color: white;
    font-family: 'Inter', sans-serif;
}

.app {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.appContainer {
    padding: 0 10px;
    width: calc(100% - 20px);
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start
}

.appHeader {
    background-color: #030505; /* Used if the image is unavailable */
    background-image: url('./images/nasa_image.jpg');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    height: 180px; /* You must set a specified height */
    padding: 4px;
    position: sticky;
    z-index: 1;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.appHeader h1 {
    z-index: 99;
    margin-bottom: 0;
    font-size: 28px;
    text-align: center;
    text-shadow: 2px 2px 5px #030505;


}